<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="css/index.css" rel="stylesheet" type="text/css" />
  <!-- 开发环境版本，包含了用帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript"></script>
  <!-- 生产环境版本，优化了尺寸和速度 -->
  <!--<script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/vue-resource" type="text/javascript"></script>
  <script src="js/index.js"></script>
</head>

<body onload="window.index()">

  <div id="app">
    <button v-on:click="click1">刷新数据</button>
    <hr/>
    项目：<select v-model='config.project'>
      <option v-if="table.project" value="">--选择项目--</option>
      <option v-for="row of table.project" :value="row.name">
        {{row.name}} ({{row.title}})
      </option>
    </select>
    <hr/>
    模块：<select v-model='config.module'>
      <option v-if="PMOA.project[config.project]" value="">--选择模块--</option>
      <option v-for="row of PMOA.project[config.project]" :value="row.name">
        {{row.name}} ({{row.title}})
      </option>
    </select>
    <hr/>
    对象：<select v-model='config.object'>
      <option v-if="PMOA.module[config.project+'_'+config.module]" value="">--选择对象--</option>
      <option v-for="row of PMOA.module[config.project+'_'+config.module]" :key="row.name" :value="row.name">
        {{row.name}} ({{row.title}})
      </option>
    </select>
    <hr/>
    行为：<select v-model='config.action'>
      <option v-if="PMOA.object[config.project+'_'+config.module+'_'+config.object]" value="">--选择行为--</option>
      <option v-for="row of PMOA.object[config.project+'_'+config.module+'_'+config.object]" :key="row.name" :value="row.name">
        {{row.name}} ({{row.title}})
      </option>
    </select>
    <hr/>
  </div>

</body>

</html>